body{
    margin: 0;
    padding: 0;
    background-color: rgba(219, 239, 239, 1);
}

.nav-bar {
    background-color: #6495ed;
    display: flex;
    padding: 4px;
    margin: 0 4px 4px 4px;
    border-radius: 0 0 10px 10px;
}
  
.nav-bar .logo {
    margin: 4px;
}
  
.nav-bar .logo img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
  
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  
.nav-links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-links li {
    padding: 5px;
    margin-left: 80px;
}
  
.nav-links li a {
    color: white;
    font-family: "Itim", cursive;
    font-weight: 400;
    text-decoration: none;
    font-size: 40px;
}
  .nav-links li:hover{
    background-color: #455A64;
}
.nav-links li:active{
    background-color: #4F73BD;
}
.container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 10px;
}
.container img{
    width: 40%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.content h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #333;
    text-align: center;
}


.content{
    width: 60%;
    margin-left: 20px;
}